* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid blue;
  justify-content: space-between;
  align-items: center;
}

.posts-enter {
  transform: translateX(-350px);
}
.posts-enter-active {
  transform: translateX(0px);
  transition: 0.2s ease-in;
}
.posts-exit {
  transition: all 0.2s ease-in;
}
.posts-exit-active {
  transform: translateX(-350px);
  transition: 0.2s ease-in;
}

.post__btns {
  display: flex;
}

.post__btns button:nth-child(1) {
  margin-right: 10px;
}

.pag_el {
  padding: 8px 10px;
  border: 1px solid teal;
}

.pag_active {
  padding: 7px 9px;
  border: 2px solid orange;
  font-weight: bold;
}

.pag_el,
.pag_active {
  cursor: pointer;
  user-select: none;
}

.pag_el:hover {
  background-color: #caebd1;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightgray;
}

.navbar_links {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.navbar_links li {
  margin-right: 10px;
}

.comment_block {
  border: 1px solid teal;
  margin-top: 5px;
}