* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid blue;
  justify-content: space-between;
  align-items: center;
}

.posts-enter {
  transform: translateX(-350px);
}
.posts-enter-active {
  transform: translateX(0px);
  transition: 0.2s ease-in;
}
.posts-exit {
  transition: all 0.2s ease-in;
}
.posts-exit-active {
  transform: translateX(-350px);
  transition: 0.2s ease-in;
}

.pag_el {
  padding: 8px 10px;
  border: 1px solid teal;
}

.pag_active {
  padding: 7px 9px;
  border: 2px solid orange;
  font-weight: bold;
}

.pag_el,
.pag_active {
  cursor: pointer;
  user-select: none;
}

.pag_el:hover {
  background-color: #caebd1;
}